<!DOCTYPE html>

{% block content %}
    <style>
        /* Remove bullet point from list */
        ul.checkbox-list {
            list-style-type: none;
            padding: 0;
        }

        /* Style the checkboxes */
        ul.checkbox-list li label {
            display: block;
            margin-bottom: 5px;
        }

        ul.checkbox-list li input[type="checkbox"] {
            vertical-align: middle;
            margin-right: 5px;
        }

        #store-buttons {
            display: inline-block;
            vertical-align: top;
            margin-left: 10px; /* spacing between dropdowns and buttons */
        }

        #sync-button {
            margin-left: 10px; /* spacing between dropdowns and buttons */
            vertical-align: top;
            display: inline-block;
        }

        #store-buttons button {
            margin-right: 5px; /* spacing between buttons */
        }

    </style>

    <h1>Edit Product Offerings</h1>

    <form method="post">
        {% csrf_token %}
        <label for="{{ form.store_selection.id_for_label }}">Select a Store:</label>
        {{ form.store_selection }}

        <label for="{{ form.category_selection.id_for_label }}">Select a Category:</label>
        {{ form.category_selection }}

        <label for="{{ form.veg_type_selection.id_for_label }}">Select a Veg Type:</label>
        {{ form.veg_type_selection }}

        <div id="store-buttons" style="display: none;">
            <button type="button" id="add-button">Add</button>
            <button type="button" id="remove-button">Remove</button>
        </div>

        <div id="sync-button" style="display: none;">
            <button type="button" id="sync-button">Sync</button>
        </div>

        <!-- this adds the category and veg_type headers to the webpage -->
        <!--<ul class="checkbox-list">-->
        <!--    {% regroup form.variety_info_list by category as category_list %}-->

        <!--    {% for category in category_list|dictsort:"grouper" %}-->
        <!--        {% regroup category.list by veg_type as vegtype_list %}-->
        <!--        <li style="font-weight: bold;">{{ category.grouper }}</li>-->

        <!--        {% for vegtype in vegtype_list|dictsort:"grouper" %}-->
        <!--            <ul class="checkbox-list">-->
        <!--                <li style="font-style: italic;">{{ vegtype.grouper }}</li>-->

        <!--                {% for variety_info in vegtype.list|dictsort:"variety" %}-->
        <!--                    <li data-category="{{ variety_info.category }}" data-veg-type="{{ variety_info.veg_type }}">-->
        <!--                        <label>-->
        <!--                            <input type="checkbox" name="{{ form.selected_varieties.name }}" value="{{ variety_info.item_number }}"-->
        <!--                                {% if variety_info.item_number in form.selected_varieties.value %}checked{% endif %}>-->
        <!--                            {{ variety_info.variety }}-->
        <!--                        </label>-->
        <!--                    </li>-->
        <!--                {% endfor %}-->
        <!--            </ul>-->
        <!--        {% endfor %}-->
        <!--    {% endfor %}-->
        <!--</ul>-->



        <ul class="checkbox-list">
            {% for variety_info in form.variety_info_list %}
                {% if form.category_selection.value == '' or form.category_selection.value == category %}
                    {% if form.veg_type_selection.value == '' or form.veg_type_selection.value == veg_type %}
                    <li data-category="{{ variety_info.category }}" data-veg-type="{{ variety_info.veg_type }}">
                        <label>
                            <input type="checkbox" name="{{ form.selected_varieties.name }}" value="{{ variety_info.item_number }}"
                                        {% if variety_info.item_number in form.selected_varieties.value %}checked{% endif %}>
                            {{ variety_info.variety }}
                        </label>
                    </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>









        <input type="submit" value="Save" id="save-button" onclick="handleSaveButtonClick()">

    </form>







    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // getting references to the dropdowns and buttons
            var storeDropdown = $('#id_store_selection');
            var addButton = $('#add-button');
            var removeButton = $('#remove-button');
            var syncButton = $('#sync-button');

            // Attach an event listener to detect changes in the category/veg_type dropdowns
            $('#id_category_selection').on('change', fetchAndDisplayProducts);
            $('#id_veg_type_selection').on('change', fetchAndDisplayProducts);

            storeDropdown.on('change', function() {
                // Get the selected store value
                var selected_store = $(this).val();
                // console.log("selected_store", selected_store);

                if (selected_store === '1') { // '1' corresponds to "All Stores"
                    $('#store-buttons').show();
                    $('input[type="checkbox"][name="{{ form.selected_varieties.name }}"]').prop('checked', false);
                    $('#sync-button').hide();
                } else {
                    $('#store-buttons').hide();
                    $('#sync-button').show();
                    // Send an AJAX request to the view
                    $.ajax({
                        url: 'edit-products',
                        type: 'POST',
                        data: {
                            'store_id': selected_store,
                            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                        },
                        success: function(data) {
                            var checkboxes = $('input[type="checkbox"][name="{{ form.selected_varieties.name }}"]');
                            checkboxes.prop('checked', false);  // Uncheck all checkboxes

                            // Check the checkboxes based on the response data
                            $.each(data.available_varieties, function(index, variety) {
                                // console.log("variety", variety);
                                checkboxes.filter('[value="' + variety + '"]').prop('checked', true);
                            });


                        }
                    });
                }
            });

            // Trigger a change event on the store dropdown so the add/remove buttons are displayed when the page loads
            storeDropdown.trigger('change');

            $('#save-button').on('click', handleSaveButtonClick);

            addButton.on('click', addToAllStores);
            removeButton.on('click', removeFromAllStores);
            syncButton.on('click', syncOfferings)
        });


        // function sortVarieties(varieties) {
        //     return varieties.sort((a, b) => {
        //         // Sort by category
        //         if (a.category < b.category) return -1;
        //         if (a.category > b.category) return 1;

        //         // Sort by vegtype
        //         if (a.veg_type < b.veg_type) return -1;
        //         if (a.veg_type > b.veg_type) return 1;

        //         // Sort by variety
        //         if (a.variety < b.variety) return -1;
        //         if (a.variety > b.variety) return 1;

        //         return 0;
        //     });
        // }





        function handleSaveButtonClick() {
            event.preventDefault();
            var storeDropdown = $('#id_store_selection');
            var availabilityData = {};

            $('input[type="checkbox"][name="{{ form.selected_varieties.name }}"]').each(function() {
                var value = $(this).val();
                var isChecked = $(this).is(':checked');
                availabilityData[value] = isChecked;
            });

            $.ajax({
                url: 'edit-products',
                type: 'POST',
                data: {
                    'store_handle': $('#id_store_selection').val(),
                    'varieties': JSON.stringify(availabilityData),
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function(data) {
                    // Handle the response from the server (if needed)
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }

        function fetchAndDisplayProducts() {
            var selectedCategory = $('#id_category_selection').val().toLowerCase();
            var selectedVegType = $('#id_veg_type_selection').val().toLowerCase();

            // console.log("selectedCategory", selectedCategory)
            // console.log("selectedVegType", selectedVegType)

            $('ul.checkbox-list li').each(function() {
                var item = $(this);
                // var category = item.data('category').toLowerCase();
                // var vegType = item.data('veg-type').toLowerCase();


                // Check if the data properties exist
                var category = item.data('category') ? item.data('category').toLowerCase() : '';
                var vegType = item.data('veg-type') ? item.data('veg-type').toLowerCase() : '';

                var categoryHeader = item.closest('ul.checkbox-list').prev('li');
                var vegTypeHeader = item.closest('ul.checkbox-list').prevAll('li[style="font-style: italic;"]').first();
                // var vegTypeHeader = item.closest('ul.checkbox-list').prevAll('li[style="font-style: italic;"]').first();

                // console.log("category", category)
                // console.log("vegType", vegType)
                console.log(vegTypeHeader)

                if (selectedCategory === 'all' || selectedCategory === category) {
                    if (selectedVegType === 'all' || selectedVegType === vegType) {
                        item.show();
                        // Show category header
                        if (vegTypeHeader.length) {
                            vegTypeHeader.show();
                        }
                    } else {
                        item.hide();
                    }
                } else {
                    item.hide();
                }
            });
        }

        function addToAllStores() {
            //sends a post request to the view with the varieties that are checked
            var selectedVarieties = [];

            // Iterate through the checked checkboxes and collect the values
            $('input[type="checkbox"][name="{{ form.selected_varieties.name }}"]:checked').each(function() {
                selectedVarieties.push($(this).val());
            });

            var addData = {
                'varieties_to_add': JSON.stringify(selectedVarieties),
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
            };
            // Perform a POST request to the backend with the selected varieties
            $.ajax({
                url: 'edit-products', // Replace with the actual URL of your backend view
                type: 'POST',
                data: addData,
                success: function(data) {
                    // Handle the response from the server (if needed)
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });

        }

        function removeFromAllStores() {
            //sends a post request to the view with the varieties that are checked
            var selectedVarieties = [];

            // Iterate through the checked checkboxes and collect the values
            $('input[type="checkbox"][name="{{ form.selected_varieties.name }}"]:checked').each(function() {
                selectedVarieties.push($(this).val());
            });
            var removeData = {
                'varieties_to_remove': JSON.stringify(selectedVarieties),
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
            };
            // Perform a POST request to the backend with the selected varieties
            $.ajax({
                url: 'edit-products', // Replace with the actual URL of your backend view
                type: 'POST',
                data: removeData,
                success: function(data) {
                    // Handle the response from the server (if needed)
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }


        function syncOfferings() {
            var storeToSync = $('#id_store_selection').val();
            var syncData = {
                'store_to_sync': JSON.stringify(storeToSync),
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
            };

            $.ajax({
                url: 'edit-products',
                type: 'POST',
                data: syncData,
                success: function(data) {
                    // reload page
                    location.reload();
                },

                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                }

            });
        }

    </script>

{% endblock %}
